<div id="modalTarea" #modalTarea class="modal" tabindex="-1" aria-labelledby="modalTareaTitulo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">

      <button (click)="coso()">
        HOLI
      </button>

      <app-header-modal-tarea [modo]="modo" [tarea]="tarea"></app-header-modal-tarea>

      <div class="modal-body">
        @if (modo === 'detalle') {
          <app-detalle-modal-tarea
            [tarea]="tarea"
            (agregarComentarioEvent)="agregarComentario($event)">
          </app-detalle-modal-tarea>
        } @else {
          <app-formulario-modal-tarea
            [tarea]="tarea"
            [usuarios]="usuarios"
            (guardarEvent)="guardarFormulario($event)">
          </app-formulario-modal-tarea>
        }
      </div>

      <!--TODO: Crear un componente para el footer también, o traer de vuelta el header a este componente -->
      <div class="modal-footer">
        @if (modo === 'detalle') {
          <button type="button" class="btn btn-danger me-auto" (click)="eliminarTarea()">Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="editarTarea()">Editar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        } @else {
          <button type="button" class="btn btn-primary" (click)="guardarDesdeFooter()">
            @if (tarea) {
              Guardar
            } @else {
              Crear
            }
          </button>
        }
      </div>
    </div>
  </div>
</div>
